In [1]:
# 실습
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[0.3, 0.2, 0.6, 0.9], 
                   [0.7, 0.3, 0.3, 0.6],
                   [0.1, 0.5, 0.7, 0.5],
                   [0.6, 0.4, 0.1, 0.3],
                   [0.8, 0.9, 0.2, 0.4]], columns = ['A', 'B', 'C', 'D'])

df

     A    B    C    D
0  0.3  0.2  0.6  0.9
1  0.7  0.3  0.3  0.6
2  0.1  0.5  0.7  0.5
3  0.6  0.4  0.1  0.3
4  0.8  0.9  0.2  0.4

In [3]:
# 1번 loc iloc 

print("C 열의 2 행 출력 :", df.loc[2]['C'], df.loc[2, 'C'])
print("2 열의 3 행 출력 :", df.iloc[2]['B'])
# df['B'].loc[1:3]
print("B ~ D 열의 1 ~ 3 행 출력 \n", df.loc[[0, 1, 2], ['B', 'C', 'D']], '\n', df.loc[0:2, 'B':'D'])
# df['A'].iloc[2:5]
print("0 ~ 2 열의 2 ~ 4 행 출력 \n", df.iloc[2:5, 0:3])

C 열의 2 행 출력 : 0.7 0.7
2 열의 3 행 출력 : 0.5
B ~ D 열의 1 ~ 3 행 출력
      B    C    D
0  0.2  0.6  0.9
1  0.3  0.3  0.6
2  0.5  0.7  0.5
      B    C    D
0  0.2  0.6  0.9
1  0.3  0.3  0.6
2  0.5  0.7  0.5
0 ~ 2 열의 2 ~ 4 행 출력
      A    B    C
2  0.1  0.5  0.7
3  0.6  0.4  0.1
4  0.8  0.9  0.2

In [99]:
# 2번 

from sklearn.datasets import load_iris

iris = load_iris() # iris 데이터셋 로드

iris_df = pd.DataFrame(data = iris.data, columns = iris.feature_names) # 데이터 프레임 생성

iris_df['target'] = iris.target # target 열 추가

iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [104]:
# 1.sepal length 열의 모든 값
iris_df.loc[:, 'sepal length (cm)']

# 2.인덱스가 2인 행
iris_df.iloc[2]

# 3.인덱스 라벨이 2인 행
iris_df.loc[2]

# 4.인덱스가 3인 행부터 인덱스가 7인 행까지
iris_df.iloc[3:8]

# 5.인덱스 라벨이 3인 행부터 인덱스 라벨이 7인 행까지
iris_df.loc[3:7]

# 6. 인덱스 라벨이 5인 행의 petal length 열의 값
iris_df.loc[5, 'petal length (cm)']

# 7.전체 데이터 프레임에서 sepal width 열에서 3보다 큰 행만 선택
iris_df.loc[3:, 'sepal width (cm)']

for i in iris_df.index :
    if iris_df.loc[i, 'sepal width (cm)'] > 3 :
        print("{} : {}" .format(i,iris_df.loc[i, 'sepal width (cm)']))
    
iris_df[iris_df['sepal width (cm)'] > 3]

0 : 3.5
2 : 3.2
3 : 3.1
4 : 3.6
5 : 3.9
6 : 3.4
7 : 3.4
9 : 3.1
10 : 3.7
11 : 3.4
14 : 4.0
15 : 4.4
16 : 3.9
17 : 3.5
18 : 3.8
19 : 3.8
20 : 3.4
21 : 3.7
22 : 3.6
23 : 3.3
24 : 3.4
26 : 3.4
27 : 3.5
28 : 3.4
29 : 3.2
30 : 3.1
31 : 3.4
32 : 4.1
33 : 4.2
34 : 3.1
35 : 3.2
36 : 3.5
37 : 3.6
39 : 3.4
40 : 3.5
42 : 3.2
43 : 3.5
44 : 3.8
46 : 3.8
47 : 3.2
48 : 3.7
49 : 3.3
50 : 3.2
51 : 3.2
52 : 3.1
56 : 3.3
65 : 3.1
70 : 3.2
85 : 3.4
86 : 3.1
100 : 3.3
109 : 3.6
110 : 3.2
115 : 3.2
117 : 3.8
120 : 3.2
124 : 3.3
125 : 3.2
131 : 3.8
136 : 3.4
137 : 3.1
139 : 3.1
140 : 3.1
141 : 3.1
143 : 3.2
144 : 3.3
148 : 3.4

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
...,...,...,...,...,...
140,6.7,3.1,5.6,2.4,2
141,6.9,3.1,5.1,2.3,2
143,6.8,3.2,5.9,2.3,2
144,6.7,3.3,5.7,2.5,2
148,6.2,3.4,5.4,2.3,2