# Resampling
    - downsampling
        - 기존 데이터의 샘플링 개수를 감소시키는 것
    - upsampling
        - 기존 데이터의 샘플링 개수를 증가시키는 것
    
    - 데이터 1개는 샘플 1개

In [1]:
import pandas as pd

In [8]:
data = {'날짜' : ['2023-05-01', '2023-05-02', '2023-05-03'],
        '판매량' : [10, 15, 12]}
df = pd.DataFrame(data)

df

           날짜  판매량
0  2023-05-01   10
1  2023-05-02   15
2  2023-05-03   12

In [9]:
df['날짜'] = pd.to_datetime(df['날짜'])

df = df.set_index('날짜')

df

            판매량
날짜
2023-05-01   10
2023-05-02   15
2023-05-03   12

In [12]:
downsampled_df = df.resample('W').sum() # 주별로 묶으면서 데이터(샘플)의 개수가 줄어들기 때문에 다운 샘플링

downsampled_df
 
downsampled_df = df.resample('W-MON').sum() # 월요일부터 시작, 디폴트는 SUN 

downsampled_df

            판매량
날짜
2023-05-01   10
2023-05-08   27

In [18]:
upsampled_df = df.resample('H').sum() # 일별 데이터를 시간별로 나눠 데이터의 개수가 늘어나므로 업 샘플링

upsampled_df # 나중에 확인

                     판매량
날짜
2023-05-01 00:00:00   10
2023-05-01 01:00:00    0
2023-05-01 02:00:00    0
2023-05-01 03:00:00    0
2023-05-01 04:00:00    0
2023-05-01 05:00:00    0
2023-05-01 06:00:00    0
2023-05-01 07:00:00    0
2023-05-01 08:00:00    0
2023-05-01 09:00:00    0
2023-05-01 10:00:00    0
2023-05-01 11:00:00    0
2023-05-01 12:00:00    0
2023-05-01 13:00:00    0
2023-05-01 14:00:00    0
2023-05-01 15:00:00    0
2023-05-01 16:00:00    0
2023-05-01 17:00:00    0
2023-05-01 18:00:00    0
2023-05-01 19:00:00    0
2023-05-01 20:00:00    0
2023-05-01 21:00:00    0
2023-05-01 22:00:00    0
2023-05-01 23:00:00    0
2023-05-02 00:00:00   15
2023-05-02 01:00:00    0
2023-05-02 02:00:00    0
2023-05-02 03:00:00    0
2023-05-02 04:00:00    0
2023-05-02 05:00:00    0
2023-05-02 06:00:00    0
2023-05-02 07:00:00    0
2023-05-02 08:00:00    0
2023-05-02 09:00:00    0
2023-05-02 10:00:00    0
2023-05-02 11:00:00    0
2023-05-02 12:00:00    0
2023-05-02 13:00:00    0
2023-05-02 14:00:00    0
2023-05-02 15:00:00    0
2023-05-02 16:00:00    0
2023-05-02 17:00:00    0
2023-05-02 18:00:00    0
2023-05-02 19:00:00    0
2023-05-02 20:00:00    0
2023-05-02 21:00:00    0
2023-05-02 22:00:00    0
2023-05-02 23:00:00    0
2023-05-03 00:00:00   12